.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  